.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgb(128, 0, 128), rgb(142, 94, 218)) ;
}
.info {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.329);
    width: 20%;
    align-items: center;
    gap: 20px;
    padding:20px ;
    border-radius: 17px;
    border: 5px solid rgba(177, 173, 173, 0.623);
}
h1{
    color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.input {
    width: 350px;
    height: 30px;
    border-radius: 8px;
    border: none;
    background-color: rgba(255, 255, 255, 0.575);
    justify-content: center;
}

button {
    width: 200px;
    height: 30px;
    border-radius: 8px;
    border: none;
    font-size: large;
}